/*-----LARGER VIEWS---------*/

@media only screen and (min-width: 38rem) {
    .city-logo {
        font-size: 3rem;
        color: var(--primary-color);
    }

    .city-logo span {
        font-size: 2rem;
    }

    #menu {
        display: none;
        color: var(--primary-color);
    }

    ul.menuLinks, 
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    nav {
        grid-template-rows: 1fr;
    }

    main {
        margin-top: 0;
        padding-top: 0;
    }

    #company-cards.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
    }

    .hero-container  {
        width: auto;
        border-radius: 5px;
        border-bottom: none;
    }

    .join-page{
        display: grid;
        grid-template-columns:600px auto;
    }
    
    .join-page form {
        grid-column: 1/2;
    }
    
    .level-class {
        grid-column: 2/3;
    }

    .discover-container {
        display: grid;
        grid-template-columns:auto 750px;
        padding-right: 1rem;
    }

    .pictures img:hover {
        padding: 0;
        transform: scale(1.02);
        box-shadow: 0 0 50px var(--primary-color);
    }

    footer {
        margin-top: 25px;
        margin-top: 200px;
        
    }
    
}